!!! 5
html
  head
    title= title
    meta(name="author", content="Keegan Street")
    meta(name="description", content="De snelste manier om een fiets te vinden in Antwerpen")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(property="og:url", content="http://www.dudewheresmyvelo.be")
    meta(property="og:image", content="http://www.dudewheresmyvelo.be/images/screenshot.jpg")
    link(rel="apple-touch-icon", href="/images/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")
    style
      !{style}
    script(src="//maps.google.com/maps/api/js?sensor=true")
  body
    #map_canvas
    #preloader
      h1= title
      p.loading Bezig met laden van fietsstations…
      p
        | Een open source web app door Keegan Street.
      p.links
        a(href="http://twitter.com/kstre") twitter.com/kstre
        br
        a(href="http://labs.thesedays.com") labs.thesedays.com
    script
      var velo = (function(module) {
        module.stations = !{stations};
        return module;
      }(velo || {}));
      !{clientScript}

